[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Raman3210
[access "refs/for/refs/*"]
	read = group user/Raman3210
	push = group user/Raman3210
	label-Code-Review = -2..+2 group user/Raman3210
	label-Verified = -1..+1 group user/Raman3210
	rebase = group user/Raman3210
	removeReviewer = group user/Raman3210
	submit = group user/Raman3210
[access "refs/heads/*"]
	read = group user/Raman3210
	create = group user/Raman3210
	push = +force group user/Raman3210
	pushMerge = group user/Raman3210
[access "refs/tags/*"]
	push = group user/Raman3210
	push = +force group user/Raman3210
